@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');

.box {
    display: flex;
    flex-flow: column;
    font-family: 'Noto Serif KR', serif;
}

.container {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    height: auto;
    font-family: 'Noto Serif KR', serif;
}

a {
    text-decoration: none;
    color: black;
}

.year {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.year>a>p {
    justify-self: center;
    align-self: center;
    animation: fadeIn 5s;
}

.gif {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 100vh;
}

.gif > img {
    width: 25vw;
    height: auto;
    margin: 0.5em;
    animation: fadeIn 3s;
}

#update {
    animation: fadeIn 1s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}